:root {
  --textTitle: 5rem;
  --textTitle2: 3.3rem;
  --textFont: 1.5rem;
  --textFont2: 2rem;
  --black: #070606;
  --bluechill: #3131a3b4;
  --blue: #60b3be;
  --green: #73c06cd8;
  --white: #f8f8f8;
}



/*Estilos Generales*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#f8f8f8,#60b3be);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Hack para Box Model **/
}

/* MENU*/